.background-container {
    background-image: url('rahul.jpg'); /* Replace 'background-image.jpg' with your image file */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Set the height of the container to full viewport height */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for container */
}

h1 {
    text-align: center;
    color: #fff; /* Change text color to white for better visibility */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #fff; /* Change text color to white for better visibility */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="submit"] {
    margin-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

input[type="submit"] {
    background-color: #4CAF50; /* Green submit button */
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker green hover color */
}
